In [ ]:
#Class Task 1

def even_checker(num):
  if num%2==0:
    print("Even!!")
  else:
    print("Odd!!")
even_checker(17)

Odd!!

In [ ]:
def is_even(num):
  if num%2==0:
    return True
  else:
    return False

result = is_even(13)
print(result)

False

In [ ]:
def is_pos(num):
  if num>0:
    return True
  else:
    return False

result = is_pos(10)
print( result )

True

In [ ]:
def sequence(n):
  if n>0:
    for i in range(0,n+1):
      if i%2==0:
        print(i)
  else:
    for i in range(n,0):
      if i%2!=0:
        print(i)


sequence(-10)

-9
-7
-5
-3
-1

In [ ]:
def is_valid_triangle(x,y,z):
  if x+y>z and y+z>x and z+x>y:
    return True
  else:
    return False

result=is_valid_triangle(3,2,1)
print( result )

False

In [ ]:
import math
def tri_area(x,y,z):
  if x+y>z and y+z>x and z+x>y:
    s=(x+y+z)/2
    area=math.sqrt(s*(s-x)*(s-y)*(s-z))
    return area
  else:
    print("Canâ€™t form triangle")

result=tri_area(7,5,10)
print( result )

16.24807680927192

In [ ]:
import math


def circle(r):
  area= math.pi*(r**2)
  return area

print(circle(5))

78.53981633974483

In [ ]:
import math


def sphere(r):
  volume= (4*math.pi*(r**3))/3
  return volume

print(sphere(5))

523.5987755982989

In [ ]:

import math

def fitting(x,y,z):
  if z==3:
    circle1=sphere(x/2)
    circle2=sphere(y/2)
    if circle1>circle2:
      remaining=circle1-circle2
      print("Circle-2 can fit inside Circle-1 and",remaining,"square units would be left")
    else:
      remaining=circle2-circle1
      print("Circle-1 can fit inside Circle-2 and",remaining,"square units would be left")

  elif z==2:
    circle1=circle(x/2)
    circle2=circle(y/2)
    if circle1>circle2:
      remaining=circle1-circle2
      print("Circle-2 can fit inside Circle-1 and",remaining,"square units would be left")
    else:
      remaining=circle2-circle1
      print("Circle-1 can fit inside Circle-2 and",remaining,"square units would be left")

fitting(8,10,2)

Circle-2 can fit inside Circle-1 and 28.27433388230814 square units would be left

In [21]:
#Home Task 1
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True
prime_check = is_prime(5)
print(prime_check)

True

In [16]:
def is_perfect(n):
  sum=0
  for i in range(1,n):
    if n%i==0:
      sum=sum+i

  if sum==n:
    return True
  else:
    return False


perfect_check = is_perfect(6)
print(perfect_check)

True

In [23]:

def special_sum(n):
  sum=0
  for i in range(2,n):
    if is_prime(i):
      sum=sum+i
    elif is_perfect(i):
      sum=sum+i
  return sum

result = special_sum(8)
print(result)

23

In [53]:
#Home Task 2
def show_dots(n):
  for i in range(0,n):
    print(".",end="")
show_dots(5)

.....

In [35]:
#Home Task 2
def show_palindrome(n):
  for i in range(1,n+1):
    print(i,end="")
  for i in range(n-1,0,-1):
    print(i,end="")
show_palindrome(5)

123454321

In [55]:
def show_triangle(n):
  for i in range(1,n+1):
    show_dots(n-i)
    show_palindrome(i)
    show_dots(n-i)
    print("\n")

  # show_dots(n-1)




show_triangle(5)

....1....

...121...

..12321..

.1234321.

123454321

In [3]:
#Home Task 3

def calc_tax(age,income):
    if age<18 or income<10000:
        return 0
    elif 10000<=income<=20000:
        return int(0.07*income)
    else:
        return int(0.14*income)
t = calc_tax(20,18000)
print(t)

1260

In [ ]:
def calc_yearly_tax():
  age=int(input("Enter Age: "))
  for i in range(1,13):
    income=int(input("Enter income: "))
    tax=calc_tax(age,income)
    print("Month",i,"tax:",tax)


calc_yearly_tax()

In [73]:
def reverse_digits(n):
    if n < 10:
        print(n)
    else:
        print(n % 10, end='')
        reverse_digits(n // 10)

reverse_digits(12345)

54321

In [111]:
#home task 4
def reverse_digits(n):
  if n < 10:
    print(n, end='')
  else:
    print(n % 10, end='')
    reverse_digits(n//10)

reverse_digits(1234)

4321

In [87]:
#class task 5

n=int(input("Enter number"))
def one_to_N(start,stop):
  if start>stop:
    return

  print(start,end=" ")
  one_to_N(start+1,stop)


one_to_N(1,n)

1 2 3 4 5 6 7 8 9 10 11

In [101]:

n=int(input("Enter number"))
def one_to_N(start,stop):
  if stop<start:
    return
  print(stop, end=" ")

  one_to_N(start,stop-1)
one_to_N(1,n)

Enter number6
6 5 4 3 2 1 None

In [105]:
n=int(input("Enter number"))
def one_to_N(start,stop):
  if start>stop:
    return 0

  return start+ one_to_N(start+1,stop)


one_to_N(1,n)

Enter number4

10